:root {
  color-scheme: light;
  /* Colours */
  --color-bg: light-dark(#fbe4f3, #454545); /* page background /*

  /* Header */
  --color-head-bg: light-dark(#ff83e6, #93005b);

  /* Logotype */
  --color-logotype-bg: light-dark(#000, #222);
  --color-text-logotype: light-dark (#fffae2, #222);
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: light-dark(#bafdff, #857c7c);
  /* Links */
  --color-link-bg: light-dark(#fffae2, #b8b8b8);
  --color-link-hover: #fff; /* used */
  --color-link-active: light-dark(#4f4f4f, #222); /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 3rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 2, 25rem;
  --font-h3-size: 1rem;
  --color-headline-bg: light-dark(#000, #ff91de);
  --color-headline-text-page: light-dark(#fffae2, #480a0a);

  /* Tekst */
  --color-text: light-dark (#636161, #fffae2);
  --color-text-inverted: light-dark(#fffae2, #222);

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: light-dark(#ffffff, #a9a9a9);
  --color-cta-card-bg: #ff83e6;
  /* news-cards */
  --color-news-bg: light-dark(#d6f8ff, #c4c4c4);
  --color-news-bg-inverted: light-dark(#ff83e6, #720046);
  --color-cta-newscard-bg: light-dark(#ff83e6, #bcbcbc);
  --color-cta-newscard-bg-inverted: light-dark(#b0e3ff #000000);

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark(#fff, #222);
  --color-infobox-1-bg: light-dark(#fceb94, #575757);
  --color-infobox-2-bg: light-dark(#def5db, #2c2222);

  --text-output-color: light-dark(#222, #d500c3);
}
:root.dark {
  color-scheme: dark;
}
